<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--  appender for writing to the console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%date{HH:mm:ss.SSS} - %level [%logger:%line] - %msg%n</pattern>
    </encoder>
  </appender>
  
   <!--  appender for writing to a log file -->
  <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">    
     <file>../logs/SAMLToolkitLogFile.log</file>    
     <append>true</append>     
     <encoder>      
        <pattern>%date{HH:mm:ss.SSS} - %level [%logger:%line] - %msg%n</pattern>    
     </encoder>  
  </appender>
  
  <logger name="org.opensaml" level="ERROR"/>

  <logger name="PROTOCOL_MESSAGE" level="DEBUG"/>
  
  <logger name="com.totvslabs.idm.protocol.saml2toolkit" level="DEBUG"/>
          
  <root level="ERROR">    
  <appender-ref ref="LOGFILE" />  
  <appender-ref ref="STDOUT"/>
  </root>
  
</configuration>
