<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>saml</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ACS</servlet-name>
		<servlet-class>com.totvslabs.SamlSPUsingToolkit.AssertionConsumerService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ACS</servlet-name>
		<url-pattern>/ACS</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReqGen</servlet-name>
		<servlet-class>com.totvslabs.SamlSPUsingToolkit.RequestGenerator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReqGen</servlet-name>
		<url-pattern>/ReqGen</url-pattern>
	</servlet-mapping>


<servlet>
  <servlet-name>SCIM REST Service</servlet-name>
<servlet-class>
  com.sun.jersey.spi.container.servlet.ServletContainer
</servlet-class>
  <init-param>
    <param-name>com.sun.jersey.config.property.packages</param-name>
    <param-value>com.fluig.scim</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
  <servlet-name>SCIM REST Service</servlet-name>
  <url-pattern>/scim/*</url-pattern>
</servlet-mapping>

</web-app>